{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}" />
    <title>VIVIENNE SABO</title>
  </head>

  <body class="body">
    <div class="wrapper">
      <header class="header">
        <div class="container__header">
          <div class="header__inner">
            <a class="header__logo" href="/">
              <img src="/media/mainapp/images/logo.png" alt="Лого" />
            </a>
            <nav class="header__nav">
              <ul class="header__nav-list">
                <li class="header__nav-item">
                  <a class="header__nav-link" href="{% url 'home' %}"> Главная </a>
                </li>
                <li class="header__nav-item">
                  <a class="header__nav-link" href="{% url 'uploading-photos' %}"> Создать видео </a>
                </li>
                <li class="header__nav-item">
                  <a class="header__nav-link" href="{% url 'home' %}#instr"> Инструкция по созданию </a>
                </li>
                <li class="header__nav-item">
                  <a class="header__nav-link" href="{% url 'competition' %}"> Условия конкурса </a>
                </li>
                <li class="header__nav-item">
                  <a class="header__nav-link" href="https://www.instagram.com/viviennesabo?igsh=MWN0d3RlZzBqcGpiZQ=="> Социальные сети </a>
                </li>
              </ul>
            </nav>
            <a class="burger-icon" href="#" onclick="event.preventDefault()">
              <span></span>
            </a>
          </div>
        </div>
      </header>

      <main class="main">
        <section class="main__download download">
          <div class="container">
            <div class="download__inner">
              <h2 class="download__title">Создание видео</h2>
              <div class="image-wrapper">
                <div class="download__img">
                  <img src="/media/mainapp/images/download-image-couple.jpg" alt="" class="download__image" />
                </div>
                <div class="woman">
                  <div class="woman-img">
                    <img src="/media/mainapp/images/download-image-woman.jpg" alt="" class="download__image-woman" />
                  </div>
                </div>
                <div class="arrow">
                  <img src="/media/mainapp/images/arrow-photo.svg" alt="" class="download__arrow" />
                </div>
              </div>
              <button class="button button-upload-photo">Загрузить фото</button>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner footer__inner-download">
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="https://www.instagram.com/viviennesabo?igsh=MWN0d3RlZzBqcGpiZQ=="> Социальные сети </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"> Политика конфиденциальности </a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <div class="modal">
      <div class="modal__window">
        <h3 class="modal__title">Требования к фото</h3>
        <div class="modal__body">
          <div class="modal__body-img">
            <img src="/media/mainapp/images/photo_selection.jpg" alt="Выбор фотографии" />
          </div>
          <div class="modal__body-text">
            <ul class="modal__body-list">
              <li class="modal__body-item">
                <img src="/media/mainapp/images/check.svg" alt="" />
                <p>Фото в фокусе</p>
              </li>
              <li class="modal__body-item">
                <img src="/media/mainapp/images/check.svg" alt="" />
                <p>Хорошее освещение</p>
              </li>
              <li class="modal__body-item">
                <img src="/media/mainapp/images/check.svg" alt="" />
                <p>Открытое лицо</p>
              </li>
            </ul>
            <form id="upload-form" action="{% url 'process' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="button-upload-btn upload-btn">Загрузить</div>
              <input type="file" id="file-input" name="photo" accept=".jpg, .jpeg, .png" style="display: none" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="progress-modal hidden">
      <div class="progress-modal-inner">
        <h1 class="progress-modal-title">Ваше видео в процессе создания</h1>
        <span class="loader"></span>
      </div>
    </div>
  </body>

  <script src="{% static 'mainapp/js/main.js' %}"></script>
  <script src="{% static 'mainapp/js/modal.js' %}"></script>
</html>
